@media (min-width: 800px) {
  .pc-menu {
    display: block;/* ブラウザを広げた時に表示させる */
    margin-left: auto;/* 右に寄せる */
  }

  .pc-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;/* ulの中の子要素を横並びにする */
  }

  .pc-menu a {
    display: block;/* display: block;としてあげて、widthを設定できるようにする */
    width: 110px;
    line-height: 64px;
    text-align: center;
    border: 2px solid rgb(195, 195, 199);
  }
  
  /* ホバーすると色が変わるように設定 */
  .pc-menu a:hover {
    background: #f2f2f2;
  }

  .smart-menu {
    display: none;
  }

}

@media (max-width: 800px) {

  .activity section:nth-child(even) {
    flex-direction: column;
  }

  .activity section:nth-child(odd) {
    flex-direction: column;
  }

  .activity .pic img{
     text-align: center; 
     margin: 0 auto;
  }

}